#main_footer
  +span-columns(12)
  +omega
  +display(flex)
  +justify-content(center)
  
  background-color: $white
  
  ul
    +span-columns(10 of 12)
    +shift(1)
    +display(flex)
    +justify-content(center)
    +align-items(center)

    margin: +modular-scale(-1) 0
    
    li
      +font_size_1
      display: block
      margin-right: +modular-scale(1)
      
      &:last-child
        margin-right: 0
      
      a
        +transition(color 250ms $ease-out-cubic)
        color: $gray
        
        i
          +transition(color 250ms $ease-out-cubic)
          color: $gray
        
        +hover_on_desktop
          color: $black
          
          i
            color: $black
            
            &.fa-linkedin
              color: #0076B7    
            
            &.fa-instagram
              color: #00477B
            
            &.fa-twitter
              color: #50ABF1
            
            &.fa-pinterest
              color: #CD1B1F

      &.-push_right
        +min_tablet
          margin-left: auto
        
      
      &.-with_text
        @extend %font_monserrat
        +font_size_1
        +min_tablet
          +font_size_-1
        
        a
          @extend .-uppercase
          .text
            display: none
            +min_tablet
              display: inline
          .fa
            display: inline-block
            +min_tablet
              display: none
