// main Header
#main_header
  +span-columns(12)
  +omega
  +pad(1.618em 0 1.618em 0)
  background: $white

#main_header--content
  +span-columns(10 of 12)
  +shift(1)

#main_header--title
  @extend  .-uppercase
  @extend %font_monserrat
  +font_size_-1
  display: inline
  margin: 0
  
  a
    color: $black
    text-transform: uppercase
    
    &:hover, &:active, &:visited
      color: $black

#main_nav
  +display(flex)
  +align-items(baseline)
  
  margin-left: auto
  position: relative
  
  > ol
    margin: 0 0 0 auto
    padding: 0
    list-style: none
    +display(flex)
    +flex-direction(column)
    
    +min_tablet
      +flex-direction(row)
      
    
    li
      display: block
        
      +min_tablet
        +pad(0 0 0 1.618em)
        
        &:first-child
          +pad(0 0 0 0)
      
      a
        @extend  .-uppercase
        @extend %font_monserrat
        +font_size_-1
        
        color: $gray
        white-space: nowrap
        +transition(color 150ms $ease-out-cubic)
        
        &:visited
          color: $gray
        
        &:active, &.-active
          color: $black
        
        +hover_on_desktop
          color: $black
          

    +max_mobile
      li
        +transition(all 250ms $ease-out-cubic)
        overflow: hidden
        height: 3px
        margin-bottom: 3px
        background-color: $black
        
        a
          +transition(all 250ms $ease-out-cubic)
          font-size: 0.3em
          color: transparent
          pointer-events: none
        
      &.-js-expand
        li
          height: 18px
          background-color: transparent
          a
            +font_size_-1
            color: $gray
            pointer-events: all
            
            &:active, &.-active
              color: $black
        
// this is managed by the js
#main_nav--marker
  border-bottom: 2px solid #1bb7cc
  bottom: -3px
  position: absolute
  right: 200px
