@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700,700italic)

%font_fira
  font-family: 'Fira Sans', sans-serif

%font_fira_reg
  @extend %font_fira
  font-weight: 400

%font_fira_bold
  @extend %font_fira
  font-weight: 700

%font_monserrat
  font-family: 'Montserrat', sans-serif

%font_monserrat_reg
  @extend %font_monserrat
  font-weight: 400

%font_monserrat_bold
  @extend %font_monserrat
  font-weight: 700

@mixin font_size_8
  font-size: modular-scale(8)

@mixin font_size_7
  font-size: modular-scale(7)

@mixin font_size_6
  font-size: modular-scale(6)

@mixin font_size_5
  font-size: modular-scale(5)

@mixin font_size_4
  font-size: modular-scale(4)

@mixin font_size_3
  font-size: modular-scale(3)

@mixin font_size_2
  font-size: modular-scale(2)

@mixin font_size_1
  font-size: modular-scale(1)

@mixin font_size_0
  font-size: modular-scale(0)

@mixin font_size_-1
  font-size: modular-scale(-1)

@mixin font_size_-2
  font-size: modular-scale(-2)

@mixin font_size_-3
  font-size: modular-scale(-3)

@mixin font_size_-4
  font-size: modular-scale(-4)

@mixin font_size_-5
  font-size: modular-scale(-5)


body
  font-size: 16px
