body
  color: $black
  background-color: $bg_color


a 
  text-decoration: none
    
// shared modifiers
.-hide_text
  display: none
    

#wrapper
  +outer-container

#main_content
  +span-columns(12)
  
  a 
    text-decoration: none
    color: $blue
    +transition(color 250 $ease-out-cubic)
    
    &:visited, &:active
      color: $blue
    
    &:active
      color: $blue
    
    +hover_on_desktop
      text-decoration: underline
