%footer#main_footer
  %ul
    %li
      %a{href:"https://github.com/federicoweber", title: "github"}
        %i.fa.fa-github
    
    %li
      %a{href:"https://instagram.com/federicoweber", title:"instagram"}
        %i.fa.fa-instagram
    
    %li
      %a{href:"https://www.pinterest.com/federicoweber/", title: "pinterest"}
        %i.fa.fa-pinterest
    
    %li
      %a{href:"https://twitter.com/federicoweber", title: "twitter"}
        %i.fa.fa-twitter
    
    %li
      %a{href:"http://federicoweber.vsco.co", title:"vsco"}
        %img{src: 'http://assets.vsco.co/assets/images/assets/Grid_black_16.png'}
    
    %li.-with_text.-push_right
      %a{href:"mailto:federicoweber@gmail.com", title: "email"}
        %span.text email me
        %i.fa.fa-envelope-o
    
    %li.-with_text
      %a{href: "http://creativecommons.org/licenses/by-nc-sa/4.0/", title: "Attribution-NonCommercial-ShareAlike 4.0 International"}
        %span.text license
        %i.fa.fa-creative-commons
