%footer#main_footer
  #main_footer--content
    %ul
      %li
        %a{href:"#"} email
      
      %li
        %a{href:"#"} twitter
      
      %li
        %a{href:"#"} instagram
      
      %li
        %a{href:"#"} vsco
      
      %li
        %a{href:"#"} pinterest
      
      %li
        %a{href:"#"} github
      
