%header#mainHeader
  %h1
    %a{href: "/"} Federico Weber
  %nav
    %ol
      %li
        %a{href: "/weblog"} weblog
      %li
        %a{href: "/library"} library
      %li
        %a{href: "/work"} work
