%header#main_header
  #main_header--content
    %nav#main_nav
      
      %h1#main_header--title
        %a{href: "/"} Federico Weber
      
      %ol
        %li
          %a{class: [('-active' if current_page.url.split('/')[1] == 'about_me')], href: url_for("/about_me")} about me
        %li
          %a{class: [('-active' if current_page.url.split('/')[1] == 'notes')], href: url_for('/notes')} notes
        %li
          %a{href: "https://www.goodreads.com/user/show/17488758-federico", target: "_blank"} reading
        -# %li
        -#   %a{class: [('-active' if current_page.url.split('/')[1] == 'work')], href: url_for("/work")} work
      
      #main_nav--marker
