---
title: Federico Weber
---

#homepage--about
  .homepage--about--content
    %h1#about_plate
      #about_plate--content
        %span#about_plate--des
          %b Designer &
        %span#about_plate--dev
          %b Developer
        %span#about_plate--hand handcrafting 
        %span#about_plate--web websites & apps.
